<a href="https://colab.research.google.com/github/mksharma282000/Python/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is Python and its Environment?

## Python:
- **Easy-to-use**, general-purpose programming language.
- **Interpreted**: Code runs line by line, no compilation needed.
- **Rich standard library**: Built-in modules for common tasks.

___

## Benefits:
- Easy to understand
- Free & Open Source

___

## Some useful libraries of Python:
1. **Django**: A high-level web framework for rapid development.
2. **Flask**: A micro web framework written in Python.
3. **Numpy**: Large, multi-dimensional array & matrices.
4. **SciPy**: Toolbox for scientific computing library that focuses on numerical computations and data analysis.
5. **Bokeh**: Visualization library using web browser for presentation.
6. **Apache Spark**: For big data analytics.

In [ ]:
# Taking Input in Python

fruits=input("Name of the fruit")
cnt=input("Quantity of the fruit")
print("Give me " + cnt +" "+fruits )

Name of the fruitApple
Quantity of the fruit2Kg
Give me 2Kg Apple

In [ ]:
#Data Types, Variables, Assignments and Print

#Print: integer
marks=10
print(marks)

# Print: string
name="Mohit"
print(name)

# Print: Sum of Two Number
num1=10
num2=20
num3=num1+num2
print(num3)

# Print: Concatination of two strings
Str1=("Mohit")
Str2=("Sharma")
Str3=Str1+Str2
print(Str3)

# Print: Integer with String

marks=10
name=("Mohit Kumar")
Result=name+" = "+str(marks)
print(Result)

10
Mohit
30
MohitSharma
Mohit Kumar = 10

In [ ]:
# Some more problems

# Program 1
x=2;
print(x)

x=3
print(x)

x=x+3
print(x)

x=x*2
print(x)

# Program 2
d = 25
d = d+2
d = d*2
print (d)
d = d + 20
print (d)

# Program 3
a =3
b = a*a
c = a*a*a
s1 = "Num="+str(a)+" Square="+str(b)+" Cube="+str(c)
print (s1)
s2 = str(a)+"::"+str(b)+"::"+str(c)
print (s2)

# Program 4
x = 7
y = 3
z = x * y
s1 = "Mult::"+str(x)+"*"+str(y)+"="+str(z)
print (s1)

2
3
6
12
54
74
Num=3 Square=9 Cube=27
3::9::27

# If-Else Statement in Python

## Definition:
The `if-else` statement is a conditional statement that allows you to execute a block of code if a condition is `TRUE`. If the condition is `FALSE`, the code in the `else` block is executed.

## Syntax:
```python
if condition:
    # Code to execute when the condition is true
else:
    # Code to execute when the condition is false

In [ ]:


# Task 1 : Given an integer n, print Negative if n is negative and Non-Negative otherwise

n=-15
if n>0:
  print("Non-Negative")
else:
  print("Negative")



# Task 2 : Given an integer n,print the square of n if n is even, otherwise print the cube of n

n=3
if n%2==0:
  print(n*n)
else:
  print(n*n*n)



# Task 3 : Given an integer n, print its absolute value as given below

n=-155
if n<0:
  a=n*(-1)
  print(a)
else:
  print(n)



# Task 4 : Given an integern, for the numbers from 1 to n, print iOS ifthe number is divisible by 3 and Android otherwise

n=5
for i in range(1,n+1):
  if(i%3==0):
    print('ios')
  else:
    print("Android")



# Task 5 : Given an integern, print the following pattern
#       Square of 1 = 1 :: Odd
#       Square of 2 = 4 :: Even
#       Square of 3 = 9 :: Odd
#       Square of 4 = 16 :: Even
#       Square of 5 = 25 :: Odd

n=5
for i in range(1,n+1):
  sq=i*i
  if(i%2==0):
    b = "Square of " + str(i) + " = " + str(sq) + " :: Even"
    print(b)
  else:
    b = "Square of " + str(i) + " = " + str(sq) + " :: Odd"
    print(b)



# Task 6 : Given an integern, print the following pattern
#       A
#       AB
#       ABA
#       ABAB
#       ABABA

n=5
a="";
for i in range(1,n+1):
  if i%2!=0:
   a=a+"A"
   print(a)
  else:
   a=a+"B"
   print(a)

Negative
27
155
Android
Android
ios
Android
Android
Square of 1 = 1 :: Odd
Square of 2 = 4 :: Even
Square of 3 = 9 :: Odd
Square of 4 = 16 :: Even
Square of 5 = 25 :: Odd
A
AB
ABA
ABAB
ABABA

# For Loop in Python

## Definition:
If we want to perform a particular task multiple times, we use a `for` loop.

## Syntax:
```python
for i in range(start, finish):
    # statement(s) inside the loop
# statement(s) after the loop

In [ ]:


#Task 1 : What will be printed on the screen for i in range(1,4):print(i)

for i in range(1,4):
  print(i)



# Task 2 : Write a code using for loop which will print the first 6 multiples of 5.

print("First 6 multiples of 5 are")
for i in range(1,7):
  i=i*5
  print(i)



# Task 3 : Write a code using for loop which will print the output below
#      Hello#1
#      Hello#2
#      Hello#3
#      Hello#4
#      Hello#5

for i in range(1,6):
  a=("Hello#"+str(i))
  print(a)



# Task 4 : Write a code using for loop which will print the cubes of 1,2,3 and 4 in the manner shown below.
#      Cube of 2=8

for i in range(1,5):
  a=i*i*i
  b="Cube of "+str(i)+" = "+str(a)
  print(b)



# Task 5 : Write a code using for loop which will give the following output

#      X1
#      X1X2
#      X1X2X3
#      X1X2X3X4
a="";
for i in range(1,5):
  a=a+"X"+str(i)
  print(a)



# Task 6 : Write a code using for loop for table of 4 in this format
#     4*1=4

for i in range(1,11):
  b=4*i
  a="4*"+str(i)+"="+str(b)
  print(a)

1
2
3
First 6 multiples of 5 are
5
10
15
20
25
30
Hello#1
Hello#2
Hello#3
Hello#4
Hello#5
Cube of 1 = 1
Cube of 2 = 8
Cube of 3 = 27
Cube of 4 = 64
X1
X1X2
X1X2X3
X1X2X3X4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40